@font-face {
  font-family: 'Hynings Handwriting';
  src: url('resources/HyningsHandwritingV2-Regular.ttf');
}
body {
  background-position: right;
  background-image: url(resources/sky-wallpaper-high-definition.jpg);/*No harm is intended by the use of this image. I just really like it and am grateful to the creator of it. Thanks!*/
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif, 'arial';
}
#shell {
  margin: 0;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  position: relative;
}
#title {
  color: #03dffc;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  text-decoration: none;
  font-size: 2.5em;
  z-index: 100;
  margin: auto;
  position: relative;
}
/*Navigation Bar Styling*/
#navbar {
  display: inline-block;
  border-bottom-width: medium;
  border-bottom-style: ridge;
  border-bottom-color: #FFFFFF;
  height: auto;
  background: url(resources/translucent_white50.png);
  background-size: contain;
  font-family: inherit;
  position: relative;
  z-index: 99;
}
.navlinks a {
  color: #000000;
  font-size: 2.5em;
  text-align: center;
  padding-left: .5em;
  padding-right: .5em;
  text-decoration: underline;
  border-radius: 5%;
  text-shadow: -1px -1px 0 #cccccc, 1px -1px 0 #cccccc, 1px 1px 0 #cccccc, 1px 1px 0 #cccccc;
	white-space:nowrap;
}
.navlinks a:link, a:visited {
  color: #000;
}
.navlinks a:hover {
  color: #03dffc;
  text-shadow:
    -1px -1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff, 1px 1px 0 #fff;
}
.navlinks a:active {
  color: #029EB3;
}
.dropdown {
  display: inline-block;
	
}

.dropdown .dropbtn {
  text-align: center;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: url("resources/sky-wallpaper-high-definition.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
  box-shadow: 0 1em 1em 1em rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  border-bottom: medium ridge rgba(255, 255, 255, 1.00);
  z-index: 99;
	padding-bottom:5%;
	padding-top: 2%;
	width: 100%;
	left:0;
}
.dropdown-content a {
  text-align: center;
  font-size: 5em;
	text-shadow:
    -1px -1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff, 1px 1px 0 #fff;
	padding:1%;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*


*/
.notice {
  overflow-x: visible;
  width: auto;
  font-size: 1.4rem;
  border-width: medium;
  border-style: ridge;
  border-color: #FFFFFF;
  text-align: center;
  background: #ffffff;
  background: rgba(255, 255, 255, .5);
}
.body {
  color: #000000;
  text-align: center;
  font-size: 2em;
  margin-right: auto;
  margin-left: auto;
  margin-top: .2em;
  background: url(resources/translucent_white50.png);
  background-size: contain;
  padding: .3em;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 60vw;
}
#nuevopacto {
  color: rgba(3, 223, 252);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  font-size: 2.7em;
  text-align: center;
  margin: 0;
}
#author {
  color: #000000;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1em
}
#chapter {
  color: #000000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  text-decoration: underline;
  font-size: 4.7rem;
  text-align: center;
	display: block;
}
.para {
  color: #000000;
  text-align: left;
  font-size: 1.2em;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.notelink {
  color: #CE0CBB;
  cursor: pointer;
  text-decoration-line: none;
  z-index: 6;
  position: relative;
}
.notelink:hover {
	text-decoration: underline;
}
.note {
  display: none;
  color: #CE0CBB;
  position: absolute;
  background-color: antiquewhite;
  border: ridge;
  border-width: thick;
  z-index: 7;
  border-color: antiquewhite;
  padding: .3em;
  max-width:60vw;
}
.subtitle {
  display: block;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}
.link {
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 3.5em;
  padding-left: 2%;
  padding-right: 2%;
}
a.link:link, a:visited {
  color: #000;
  text-shadow:
    -1px -1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff, 1px 1px 0 #fff;
}
a.link:hover {
  color: #03dffc;
}
a.link:active {
  color: #029EB3;
}
a.notelink:link, a.notelink:visited, a.notelink:hover, a.notelink:active {
  color: #CE0CBB;
  text-shadow: none;
}
#offclicknote {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.menulink {
  text-decoration-line: none;
}
#seperator {
  font-size: 3.5em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.number {
  font-size: 1.1em;
}
/*Index Page Styling*/
.indexentry {
				font-size:1.1em;
				color:#000;
				text-decoration-line: none;
	
			}
.column1, .column2 {
				text-align: left;
				display:inline-block;
				width:47%;
			}
/*Contact Page Styling*/
.form {
  margin: auto;
  width: 60vw;
  border-radius: 10px;
  background-image: linear-gradient(55deg, rgba(3, 223, 252, .8)40%, rgba(3, 223, 252, 0)70%);
  padding: 1vw;
}
#message {
  font-size: 3vw
}
label {
  font-size: 2.5vw;
}
input[type=text], select, textarea {
  font-family: hynings handwriting;
  font-size: 3vw;
  height: 1.2em;
  width: 100%;
  padding: 12px;
  border: 1.5px inset #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-bottom: 1vw;
  resize: vertical;
}
input[type=email], select, textarea {
  font-size: 3vw;
  height: 1.2em;
  font-family: hynings handwriting;
  width: 100%;
  padding: 12px;
  border: 1.5px inset #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-bottom: 1vw;
  resize: vertical;
}
input[type=submit] {
  display: block;
  background-image: linear-gradient(140deg, rgba(3, 223, 252, .5)10%, rgba(3, 223, 252, .5), rgba(3, 223, 252, 0));
  color: black;
  font: inherit;
  font-size: 3.5vw;
  width: 15vw;
  height: 5vw;
  margin: auto;
  border: 3px outset;
  border-radius: 15px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a04;
}
/*Form Received Page Styling*/
#gracias {
  color: #000000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-size: 6vw;
  text-align: center;
}
#graciaspara {
  color: #000000;
  text-align: center;
  font-size: 2em;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: .2em;
  background: #ffffff;
  background: rgba(255, 255, 255, .5);
  border-style: ridge;
  border-width: thick;
  border-color: rgba(255, 255, 255);
  padding: .3em;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.graciaslink {
  background-size: contain;
  background-repeat: no-repeat;
}
a.graciaslink:link, a:visited {
  color: #000;
  text-shadow:
    -1px -1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff, 1px 1px 0 #fff;
}
a.graciaslink:hover {
  color: #03dffc;
}
a.graciaslink:active {
  color: #029EB3;
}
